@font-face {
    font-family: "jukebox";
    src: url('../Main/font/The_Juke_Box-FFP.ttf')
}

.canvasContent{
    background-image:url("../Main/fondo/pxfuel.jpg");
    background-size:cover;    
    background-attachment:fixed;
    height: 100vw;
    
}


.contenedor-botones{
    display: flex;
    justify-content: space-around;

}

.contenedor-form{
    display:flex;
    justify-content: center;
}

h1{
    color:orange;
    font-size: 5em;
    text-align: center;
    font-family: "jukebox";
}

.conteneddor-artista-musica{
    display: flex;
    gap:100px;
    flex-wrap: wrap;
    align-items: center;
    
    
}

.btnCRUD{
    width: 12em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.mensaje{
    
   
}