.form{
    display:flex;
    flex-direction: column;
    background-color: black;
    color: white;
    width: 30rem;
    margin: 2em;
  
}
.hide{
    display: none;
}

.bio{
    background-color: white;
    width: 30rem;
    height: 10rem;
}

#breveBio{
    height: 120px;
}